
body{
    background-color: hsl(47, 88%, 63%);
    font-family: figtree;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h4 {
    background-color: hsl(47, 88%, 63%);
    text-align: justify;
    width:max-content;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2px;
    margin-left: 1rem;
    font-weight: 800;
}

h3{
    text-align: justify;
    margin-left: 1rem;
}

h1{
    text-align: justify;
    margin-left: 1rem;
    font-style:inherit;
}

p{
    text-align: justify;
    margin-left: 1rem;
    font-weight: 600, 800;
}

.attribution { 
    margin-top: 1rem;
    font-size: 11px;
    text-align: justify;
    position: absolute;
    top: 85%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

.container {
/*** Positioning of Container ***/
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
/*** Positioning and width of the content inside the container ***/
    width: 24rem;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
/*** This is for border styling and width ***/
    border-style: solid;
    border-right-width: 0.8rem;
    border-bottom-width: 0.8rem;
    border-top-width: 0.1rem; border-left-width: 0.1rem;
/* Border radius */
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
/* Spacing for content */
    padding: 1rem;
}

.img_main{
    border-radius:0.5rem ;
    margin-top: 1rem;
    width: 95%;
}

.avatar{
    max-height: 100%;
    max-width: 100%;
    float: left;
    margin-left: 1rem;
}

h6{
    display: inline-flex;
    float: left;
    margin-left: 1rem;
}

h1:hover{
    background: hsl(47, 88%, 63%);
}